*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text-box{
    width: 50%;
}
.hero-img-box{
    width: 50%;
    text-align: center;
}
.hero-img-box img,
.dream-big-image-box img{
    width: 60%;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
    text-transform: capitalize;
}
h2{
    font-size: 35px;
    margin: 10px 0;
    text-transform: capitalize;
}
h3{
    font-size: 25px;
    margin: 10px 0;
    text-transform: capitalize;
}
h4{
    margin: 10px 0;
}
p{
    color: gray;
}
.btn:link,
.btn:active{
    text-decoration: none;
    background-image: linear-gradient(to right,orangered, tomato);
    color: white;
    font-weight: 700;
    padding: 8px 35px;
    display: inline-block;
    margin: 10px 0;
    border-radius: 5px;
}

.dream-big{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.dream-big-image-box,
.dream-big-text-box{
    width: 50%;
}

.experience-box-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.full-stack,
.baby-web{
    width: 46%;
    margin: 0 2%;
    box-shadow: 10px 10px 30px gray;
    padding: 30px 25px;
}
.full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
.baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.experiences{
    padding: 40px 40px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
footer p{
    text-align: center;
    color: black;
}
footer{
    padding: 30px 0;
}